@import-normalize;
@font-face {
  font-family: "Basteleur-Bold";
  src: local("Basteleur-Bold"), url(./fonts/Basteleur-Bold.woff) format("woff");
}

$color-primary: #019046;
$color-secondary: #f0bad6;
$color-secondary-light: #fcf1f7;
$color-dark: #000;
$color-medium: #5a5a5a;
$color-lighter: #c4c4c4;
$color-light: #fff;

$red: #f04d4d;
$orange: #ffb35a;
$orange-light: #fdefde;
$yellow: #ffd670;
$green: #7bdf58;
$blue: #7fd2f5;
$blue-light: #e5f6fd;
$violet: #d786f3;
$purple: #a778f5;

$margin-xs: 5px;
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 40px;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 25px;
$font-size-xxl: 35px;

$border-radius: 10px;
$border-radius-l: 50px;

h1 {
  font-family: "Basteleur-Bold", serif;
  font-size: $font-size-xl;
  color: $color-primary;
  margin: 0 0 $margin-s;
}

h2,
h3,
h4,
p,
a,
label,
li {
  font-family: Hind, sans-serif;
}

h2 {
  font-size: $font-size-l;
  font-weight: 600;
}

h3 {
  margin-bottom: $margin-xs;
  font-weight: 500;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.desktop {
  display: none;
}

.medium {
  font-weight: 500;
}

.App {
  margin: $margin-m;
}

nav {
  position: fixed;
  width: calc(100% - 40px);
  bottom: $margin-m;
  background-color: $color-secondary-light;
  border-radius: $border-radius-l;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $margin-xs 0;
    padding: 0 $margin-m;
  }

  a p {
    display: none;
  }

  a {
    display: inline-block;
  }
  a.track {
    background-color: $color-secondary;
    padding: $margin-s;
    border-radius: $border-radius-l;
  }

  a::before {
    content: "";
    display: block;
    width: 22px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  a.home::before {
    background-image: url(./icons/home.svg);
  }
  a.home.active::before {
    background-image: url(./icons/home-active.svg);
  }
  a.track::before {
    background-image: url(./icons/add.svg);
  }
  a.calendar::before {
    background-image: url(./icons/calendar.svg);
  }
  a.calendar.active::before {
    background-image: url(./icons/calendar-active.svg);
  }
  a.plants::before {
    background-image: url(./icons/plants.svg);
  }
  a.plants.active::before {
    background-image: url(./icons/plants-active.svg);
  }
  a.account::before {
    background-image: url(./icons/account.svg);
  }
  a.account.active::before {
    background-image: url(./icons/account-active.svg);
  }

  .active {
    color: $color-primary;
  }
}

main {
  margin-top: $margin-l;
  margin-bottom: 100px;
}

.predictions {
  section {
    border-radius: $border-radius;
    display: flex;
    padding: $margin-s;
    margin-bottom: $margin-m;

    div {
      margin-left: $margin-m;
    }

    h3 {
      margin: 0;
      line-height: 1.2;
    }

    p {
      line-height: 1.4;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  section.water {
    background-color: $blue-light;
  }
  section.repot {
    background-color: $orange-light;
  }
}

.calendar {
  abbr {
    font-family: "Hind";
    text-decoration-line: none;
  }
  button {
    font-family: "Hind";
    background: transparent;
    border: none;
  }

  .react-calendar {
    margin-bottom: $margin-l;
  }

  .react-calendar__navigation__label {
    background: url(./icons/calendar-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 53%;
    height: 45px;
  }

  .react-calendar__navigation__label__labelText {
    font-size: $font-size-l;
    font-weight: 600;
  }

  .react-calendar__tile {
    height: 50px;
    font-size: 16px;
  }
  .react-calendar__tile--now {
    background-color: $color-secondary-light;
    border-radius: $border-radius-l;
    font-weight: 600;
  }

  .react-calendar__navigation,
  .react-calendar__month-view__weekdays {
    margin-bottom: $margin-m;
  }

  .react-calendar__navigation__next2-button,
  .react-calendar__navigation__prev2-button {
    display: none;
  }

  .react-calendar__month-view__weekdays__weekday {
    font-weight: 600;
    text-align: center;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    color: $color-lighter;
  }

  .react-calendar__navigation__prev-button {
    background: url(./icons/back.svg);
  }
  .react-calendar__navigation__next-button {
    background: url(./icons/next.svg);
  }
  .react-calendar__navigation__arrow {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: $color-light;
  }
}

.track-items {
  display: flex;
  justify-content: space-between;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 50px;
    height: 50px;
    border-radius: $border-radius;
    margin-left: $margin-xs;
  }
  section:first-child {
    margin-left: 0;
  }

  p {
    margin-top: $margin-xs;
    font-size: $font-size-xxs;
  }

  .blue {
    color: $blue;
    border: 2px solid $blue;
  }
  .purple {
    color: $purple;
    border: 2px solid $purple;
  }
  .violet {
    color: $violet;
    border: 2px solid $violet;
  }
  .orange {
    color: $orange;
    border: 2px solid $orange;
  }
  .yellow {
    color: $yellow;
    border: 2px solid $yellow;
  }
  .green {
    color: $green;
    border: 2px solid $green;
  }
}

.plant {
  display: flex;
  align-items: center;
  margin-bottom: $margin-m;

  .status {
    display: flex;
    align-items: center;
  }
  h3 {
    margin: 0;
    line-height: 1.2;
  }
  .status div {
    width: 8px;
    height: 8px;
    border-radius: $border-radius-l;
    margin-left: $margin-s;
  }
  .status .healthy {
    background-color: $green;
  }
  .status .okay {
    background-color: $orange;
  }
  .status .sick {
    background-color: $red;
  }

  p {
    color: $color-medium;
  }
  img {
    width: 60px;
    border-radius: $border-radius;
    margin-right: $margin-m;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: $font-size-xxl;
    margin: 0 0 $margin-m;
    white-space: nowrap;
  }
  h2 {
    font-size: $font-size-xl;
  }
  h3 {
    margin-bottom: $margin-s;
  }

  .desktop {
    display: block;
  }

  .button {
    display: inline-flex;
    width: 150px;
    background-color: $color-secondary;
    color: $color-light;
    padding: $margin-s;
    border-radius: $border-radius;
  }

  .App {
    margin: $margin-l;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav {
    position: relative;
    width: 100%;
    bottom: unset;
    background-color: transparent;
    border-radius: 0;

    ul {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      margin: $margin-xs 0;
      padding: 0;
    }

    li {
      margin: $margin-m 0;
    }

    a {
      display: flex;
      color: $color-dark;
      text-decoration: none;
      font-weight: 600;
      font-size: $font-size-xl;
      padding-left: $margin-s;
    }

    a p {
      display: block;
    }

    a::before {
      content: "";
      display: block;
      width: 20px;
      height: 25px;
      background-size: contain;
      background-repeat: no-repeat;
      padding-right: $margin-m;
    }
    .account {
      position: fixed;
      top: $margin-l;
      right: $margin-l;
    }
  }

  header {
    width: 240px;

    .container {
      position: fixed;
    }

    .user {
      display: flex;
      align-items: center;
      margin-bottom: $margin-s;

      img {
        width: 40px;
        margin-right: $margin-s;
      }
    }
  }

  main {
    margin-top: 150px;
    width: 100%;

    .plants {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: $margin-m;

      img {
        width: 160px;
        border-radius: $border-radius;
      }
    }
  }
}
