@font-face {
  font-family: "Basteleur-Bold";
  src: local("Basteleur-Bold"), url(./fonts/Basteleur-Bold.woff) format("woff");
}

h1 {
  font-family: "Basteleur-Bold";
}

ul {
  list-style-type: none;
}
